#!/usr/bin/env bash

if test -z "$1"; then
    OUTFILE=/dev/fd/1
else
    OUTFILE="$1"
fi

# as hard-coded in application.yml
CONTAINER_NAME=django_application
# Run via sudo since maintenance user isn't in `docker` group
# Add --no-cache-dir to avoid warnings about lack of virtualenv in pip output, which results in
# emptyhammock-maintenance being unable to parse the output.
sudo docker exec -t ${CONTAINER_NAME} pip freeze --no-cache-dir --disable-pip-version-check >${OUTFILE}
