#!/usr/bin/env bash

if test -z "$1"; then
    OUTFILE=/dev/fd/1
else
    OUTFILE="$1"
fi

# as hard-coded in application.yml
CONTAINER_NAME=django_application
# Run via sudo since maintenance user isn't in `docker` group
sudo docker exec -t ${CONTAINER_NAME} pip freeze --disable-pip-version-check >${OUTFILE}
